page {
  background-color: #f9f9f9;
}

.container {
  height: 86vh;
  overflow: scroll;
}
.bottomBtnContainer {
  width: 100%;
  height: 11vh;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .common {
    width: 40%;
    padding: 23px 0px;
    border: none;
  }
  .all {
    background-color: rgb(250, 250, 250);
    color: rgb(168, 168, 168);
  }
  .onlyWrong {
    background-image: linear-gradient(to right top, #1ac5e5, #00baef, #00aef8, #00a0fe, #1990fe);
    color: #fefefe;
  }
}
