.container {
  position: relative;
  z-index: 10;
  padding: 13px 20px 20px;
  background-color: rgb(255 223 15);

  .topUserName {
    font-size: 20px;
    color: #333;
    line-height: 28px;
  }

  .topCodingExp {
    font-size: 16px;
    color: #666;
    line-height: 28px;
  }

  .leftProgress {
    margin-top: 30px;

    .staticsNumber {
      display: flex;
      align-items: center;
      color: #333;

      .mainNumber {
        margin-right: 10px;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .right {
    position: relative;
    z-index: 10;
    margin-top: 30px;
    margin-left: 70px;

    .days {
      display: flex;
      align-items: center;

      .mainNum {
        margin-right: 15px;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }

  .imgContainer {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1;
  }
}
