.container {
  position: relative;
  z-index: 10;
  padding: 13px 20px 40px;
  background-position: 80%;
  background-repeat: no-repeat;
  background-color: rgb(255 223 15);
  background-image: url('../../assets/xueli.png');
  .noLogin {
    padding-top: 30px;
    padding-bottom: 80px;
    font-size: 24px;
    font-weight: 600;
  }

  .topUserName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    line-height: 28px;
  }

  .topCodingExp {
    font-size: 16px;
    color: #666;
    line-height: 28px;
  }

  .leftProgress {
    margin-top: 30px;

    .staticsNumber {
      display: flex;
      align-items: center;
      color: #333;

      .mainNumber {
        margin-right: 10px;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

  .right {
    position: relative;
    z-index: 10;
    margin-top: 30px;
    margin-left: 70px;

    .days {
      display: flex;
      align-items: center;

      .mainNum {
        margin-right: 15px;
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.bottomContainer {
  position: relative;
  z-index: 10;
  margin-top: -20px;
  padding: 5px 20px 70px;
  border-radius: 20px;
  background-color: white;

  .linkBtns {
    margin-top: 10px;
    width: 100%;

    --nutui-grid-border-color: #fff;
    --nutui-grid-item-content-padding: 8px;

    .linkBtn {
      width: 100%;
      border: none;
      border-radius: 4px;
      color: #fff;
      background-color: #4979f5;
    }

    :global(.nut-grid-item):nth-child(2n + 1) {
      :global(.nut-grid-item__content) {
        padding-left: 0;
      }
    }

    :global(.nut-grid-item):nth-child(2n) {
      :global(.nut-grid-item__content) {
        padding-right: 0;
      }
    }
  }

  .homeSwiper {
    border-radius: 6px;
  }

  .tabs {
    margin-top: 15px;

    --nutui-tabs-titles-background-color: #fff;

    :global(.nut-tabpane) {
      padding: 24px 0;
    }
    .Empty {
      --nutui-empty-padding: 0 0 40px 0;
    }
  }
}
