.container {
  --nutui-color-primary-disabled: #1990fe;
  --nutui-space-gap: 15px;

  .options {
    margin-top: 15px;
  }

  :global(.nut-checkbox-icon) {
    flex: 1 !important;
    align-self: flex-start;
    margin-top: 2px;
  }
  :global(.nut-checkbox-label) {
    flex: 25 !important;
  }
}

.title {
  white-space: pre-wrap;
}
