.question {
  --nutui-color-primary-disabled: #1990fe;
  .title {
    white-space: pre-wrap;
  }
  .Radio {
    margin-top: 15px;
  }
  .label {
    font-size: 16px;
  }
  .option {
    margin-bottom: 10px;
  }
}
