.blankContainer {
  margin-top: 15px;
  .input {
    width: 98%;
    border: 1px solid #1990fe;
    --nutui-textarea-padding: 7px 10px;
    border-radius: 6px;
  }
}

.title{
  white-space: pre-wrap;
}
